{% extends "BasePanel.html" %}

{% block panel_heading %} &Uuml;ber  {% endblock %}

{% block panel_content %}
<p>
Die Gew&auml;sserdaten stammen vom Internetauftritt der Bundesanstalt f&uuml;r Gw&auml;sserkunde (BfG), welche somit auch das Urheberrecht besitzt. <br/>
Weder die BfG noch der Entwickler &uuml;bernehmen irgendeine Haftung f&uuml;r die Richtigkeit der Daten. <br/>
Das Baden geschieht selbstverst&auml;dlich auf eigene Gefahr!
</p>
<h3>Danke...</h3>
<ul>
  <li>
    ... an <a href="openweathermap.org">openweathermap.org</a> f&uuml;r die Bereitstellung der Wetterdaten.
  </li>
  <li>
    ... an <a href="http://www.bafg.de/DE/06_Info_Service/02_GewGuete/gewaesserguete_node.html">bafg.de</a> f&uuml;r die Bereitstellung der Mosel-Messwerte. 
  </li>
</ul>
{% endblock %}
